.card{
    background-color: #ffffff;
    color: #000000;
    width: 400px;
    padding: 8px;
    border-radius: 4px;
}

.card_img{
    width: 100%;
    height: 250px;
    background-color: beige;
    border-radius: 4px;
    background-position: center;
    background-size: cover;
}

.card_body{
    margin-top: 16px;
}

.card_rating{
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
}

.card_title{
    font-size: 18px;
    font-weight: 800;
}

.card_desc{
    font-size: 14px;
    margin-bottom: 8px;
    flex-wrap: wrap;
}
