@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 32px;
    background-color: #000000;
    align-items: center;
    position: fixed;
}

.logo{
    color: #ffffff;
    font-family: 'Pattaya', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.hamburger_menu{
    color: #ffffff;
    width: 24px;
    display: none;
}

.nav_menu{
    display: flex;
    color: #ffffff;
}

.nav_link{
    padding: 8px 16px;
    color: #ffffff !important;
    font-weight: 500;
    color: black;
    margin: 4px;
    border-radius: 4px;
    cursor: pointer;
    list-style-type: none;
}

.nav_link:hover{
    background-color: rgb(231, 209, 6);
    color: #000000 !important;
}

@media screen and (max-width: 768px) {
    .hamburger_menu{
        display: inline-block;
    }

    .nav_menu{
        position: absolute;
        display: inline-block;
        padding: 32px;
        background-color: #000000;
        top: 32px;
        right: -156px;
        transition: all ease-in-out 0.5s;
    }

    .nav_menu_active{
        right: 0px !important;
    }

    .nav_link{
        text-align: center;
    }
}