.hero {
  width: 100%;
  height: 600px;
  background-image: url('https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}

.banner{
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.display{
  font-size: 56px;
  font-weight: 900;
}

.lead{
  font-size: 24px;
}

.products {
  padding: 32px 48px;
}

.section_title {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 24px;
}

.cards {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 1200px) { 
  .banner{
      text-align: center;
  }
}

@media screen and (max-width: 720px) {
  .hero {
      height: 400px;
  }
  .banner{
      text-align: center;
  }
  .display{
      font-size: 32px;
  }
  .lead{
      font-size: 16px;
  }
}